<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="UseActiveDirectorySecurity" value="True" />
   </appSettings>
   <connectionStrings>
      <add name="SandsOfTime" connectionString="Provider=SQLOLEDB;Server=cgray-xp\sql2005;Database=SandsOfTime;Uid=sa;Pwd=sasa1;"/>
   </connectionStrings>
</configuration>